/* Container with background image */
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('bgwel.jpeg'); /* Set the correct path */
  background-size: cover;
  background-position: center;
}

/* Text styling with italics */
.welcome-text {
  color: #FFFFFF; /* Adjust as needed */
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
}

.welcome-text h1 {
  font-size: 3rem;
  margin: 0;
}

.welcome-text p {
  font-size: 1.2rem;
  margin: 5px 0;
}

/* Continue as text styling */
.continue-as {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 15px;
}

/* Button styling */
.buttonwel-group {
  display: flex;
  gap: 15px;
}

.loginwel-button {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background-color: #007BFF; /* Button color */
  color: #FFFFFF;
  font-size: 1.2rem; /* Larger font size */
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginwel-button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

/* Icon styling */
.button-icon {
  width: 24px; /* Adjust icon size as needed */
  height: 24px;
  margin-right: 10px; /* Space between icon and text */
}
